﻿@model RafaMarket.ViewModels.UserView

@{
    ViewBag.Title = "Adicionar permissão";
}

<h2>Adicionar permissão para o utilizador: @Model.Name</h2>
<h3>@ViewBag.Error</h3>

<!-- Passamos no form tambem o userID -->
@using (Html.BeginForm("AddRole", "Users", new { userID = Model.UserId}, FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.Role.RoleId, "RoleId", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("RoleId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Role.RoleId, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <br />
    @Html.ActionLink("Voltar para utilizador", "Roles", new { userID = Model.UserId }, new { @class = "btn btn-info " })
    <input type="submit" value="Adiciona Permissão" class="btn btn-success" />

</div>
}

