﻿@model IEnumerable<RafaMarket.ViewModels.UserView>

@{
    ViewBag.Title = "Gestor de permissões";
}

<h2>Gestor de permissões</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Roles", "Roles", new { UserId = item.UserId})
        </td>
    </tr>
    }
</table>
