﻿@model RafaMarket.ViewModels.UserView

@{
    ViewBag.Title = "Permissões";
}

<h2>Permissões para o utilizador: @Model.Name</h2>

<p>
    @Html.ActionLink("Adicionar Permissão", "AddRole", new { userid = Model.UserId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => Model.Roles[i].Name)
            </td>
            <td>
                @Html.ActionLink("Apagar", "Delete", new { userID = Model.UserId, roleID = Model.Roles[i].RoleId })
            </td>
        </tr>
    }



</table>
